@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --dark: #283739;
    --blue: #228896;
    --highlight: #A9C52F;
    --white: #F5F5F5;
    --breef: 'Bree Serif', serif;
    --pop: 'Poppins', sans-serif;
}


/* Reset styles for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reset styles for specific elements */
html,
body {
    font-family: var(--pop);
    font-size: 12px;
    line-height: 1.5;
    width: 100%;
    background-color: #001113;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-weight: 300;
}

th {
    text-align: center;
}


.nav-left,
.nav-center,
.nav-right,
.navigation,
.footer,
.footer-center {
    display: flex;
    align-items: center;
}

.navigation,
.footer {
    justify-content: space-between;
}

.nav-center,
.footer-center {
    justify-content: center;
    align-items: end;
    display: flex;
    gap: 4rem;
    font-size: 1.5rem;
    font-style: italic;
    align-self: center;
}

.nav-center a {
    position: relative;
    top: 1px;
    text-align: center;
}

.nav-right,
.footer-right {
    display: flex;
    gap: 1rem;
    justify-content: end;
    text-align: right;
    font-size: 1.5rem;
    align-items: center;
    position: relative;
    top: 1px;

}

.navigation,
nav {
    width: 100%;
    height: 100%;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem 10%;
    height: 8rem;
    width: 100%;
}

.logo {
    font-family: var(--breef);
    font-size: 2rem;
    color: var(--dark);
    position: relative;
    bottom: 3px;
}

.hero {
    width: 100%;
    height: 115vh;
    background-image: url("./photos/calvary2.png");
    background-position: center;
    background-size: cover;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
}

.error {
    display: flex;
    flex-direction: column;
    padding: 10%;
    height: auto;
    width: 100%;
    gap: 3rem;
}

.error img {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.error .buttonwrapper {
    font-weight: 600;
    font-size: 1.7rem;
}

.error .buttonwrapper,
.error h1,
.error p {
    z-index: 4;
    display: flex;
    justify-content: start;
}

h1 {
    font-family: var(--breef);
    font-size: 6rem;
    color: var(--highlight);
    letter-spacing: 3px;
    margin-bottom: 1.5rem;
    line-height: 1.3;
}

.hero p,
.error p {
    font-size: 2rem;
    color: var(--white);
    margin-bottom: 3rem;
}

.hero svg {
    opacity: 30%;
    transform-origin: top;
    animation: scalearrow 6s ease-out infinite;
}

@keyframes scalearrow {
    0% {
        transform: scaleY(0);
        color: var(--background);
    }

    60% {
        transform: scaleY(1);
        color: var(--background);
    }

    80% {
        color: var(--background);
    }

    100% {
        transform: scaleY(1);
        color: var(--text);
    }

}

.intro {
    padding: 8rem 10%;
}


.intro,
.tips {
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    color: var(--white);
    margin-bottom: 1rem;
}

h2 {
    max-width: 60%;
    color: var(--highlight);
    font-size: 4rem;
    font-weight: 600;
}

.twocl {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
    font-weight: 300;
}

.twocl p {
    width: 48%;
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 1.7rem;
    margin-top: 4rem;
    gap: 4rem 2rem;
}

.feature1,
.feature2,
.feature3 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 20rem;
    max-width: 30rem;
}

.iconandtext {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 2rem;
}

.iconandtext p {
    max-width: 25rem;
    font-style: italic;
    font-weight: 300;
}

.features span {
    font-weight: 600;
    min-width: 60%
}

.attractions {
    color: var(--white);
    display: flex;
    gap: 4rem;
    flex-direction: column;
    padding: 4rem 10%;
    font-size: 1.7rem;
}

h3 {
    display: flex;
    align-items: start;
    font-size: 3rem;
    color: var(--highlight);
    text-transform: uppercase;
    height: auto;
}

h3 span {
    color: var(--white);
    margin-right: 1rem;
}

.timeandarrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrows {
    display: flex;
    gap: 2rem;
}

.prosandcons {
    padding: 4rem 0;
    border-top: solid 2px var(--blue);
    border-bottom: solid 2px var(--blue);
}

.prosandcons,
.contact,
.list,
.tips div {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.prosandcons div,
.firstcolcontact {
    width: 48%;
    display: flex;
    justify-content: space-between;
}

.prosandcons div span,
.contacttext {
    width: 45%;
    color: var(--highlight);
    font-size: 2.5rem;
    font-weight: 600;
}

ol,
.contacts {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--white);

}

ol li::marker {
    color: var(--highlight);
    font-weight: 600;
}


.secondcolcontact {
    width: 48%;
    border-radius: 8px;
}

.contacts span {
    font-weight: 600;
}

.contacts {
    position: relative;
    left: -20px;
    display: flex;
    gap: 4rem;
    flex-direction: column;
}

.iconandtextcon {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.contacts>div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.buttonwrapper {
    width: 100%;
    display: flex;
    justify-content: end;
}

.buttonwrapper a {
    text-align: center;
    font-weight: 600;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 22rem;
    height: 5rem;
    background-color: var(--blue);
}

.list>div>span {
    color: var(--highlight);
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
    width: 20%;
}

.listwrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.locheading {
    font-weight: 600;
}

.locheading p {
    font-weight: 100;
}

.tips {
    padding: 4rem 10%;
    margin-bottom: 6rem;
}

.tips ol {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.7rem;
}


.tips ol:nth-of-type(1) {
    position: relative;
    left: 20px;
}

footer {
    color: var(--white);
    width: 100%;
    padding: 0 10%;
    background-color: var(--blue);
}

.footer {
    border-bottom: solid 2px var(--white);
    padding: 2rem 0;
}

footer>p {
    padding: 3rem 0;
    font-size: 1.3rem;
}

.logo-footer {
    font-family: var(--breef);
    font-size: 2rem;
    color: var(--white);
}

.square-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    aspect-ratio: 1/1;
    border-radius: 8px;
    border: solid 2px var(--white);
}

.square-arrow:hover,
.square-arrow:hover svg g path,
.button:hover {
    background-color: var(--white);
    stroke: var(--blue);
    color: var(--blue);
    transition: 0.3s ease-out;
}

.button:hover a {
    background-color: transparent;
    color: var(--blue);
    transition: 0.3s ease-out;
}

.footer a:hover {
    color: var(--highlight)
}

.navigation a:hover {
    color: var(--blue);
}

.carousel,
.carousel2,
.carousel3 {
    transition: all 0.4s ease-out;
}

.carousel img,
.carousel2 img,
.carousel3 img {
    width: 100%;
    transition: all 0.4s ease-out;
}

.item {
    display: none;
}

.main {
    display: block;
}





.hamburger {
    display: none;
    cursor: pointer;
}


.en-ham {
    display: flex;
    gap: 3rem;
}



.row .three {
    padding: 80px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #2c3e50;
    color: var(--dark);
    text-align: center;
}

.hamburger .line {
    width: 45px;
    height: 5px;
    background-color: var(--dark);
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover .line {
    background-color: var(--blue);
    transition: all 0s;
}

.hamburger:hover {
    cursor: pointer;
}

#hamburger-6.is-active {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger-6.is-active .line:nth-child(2) {
    width: 0px;
}

#hamburger-6.is-active .line:nth-child(1),
#hamburger-6.is-active .line:nth-child(3) {
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

#hamburger-6.is-active .line:nth-child(1) {
    -webkit-transform: translateY(22px);
    -ms-transform: translateY(22px);
    -o-transform: translateY(22px);
    transform: translateY(22px);
}

#hamburger-6.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(90deg);
    -ms-transform: translateY(-13px) rotate(90deg);
    -o-transform: translateY(-13px) rotate(90deg);
    transform: translateY(-13px) rotate(90deg);
}


/* MEDIA QUERIES */


@media (max-width: 1240px) {

    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-between;
    }


    .nav__link {
        position: absolute;
        width: 80%;
        display: flex;
        flex-direction: column;
        top: 8rem;
        left: 10%;
        gap: 0rem;
        background-color: var(--dark);
        color: var(--white);
        border-radius: 8px;
        padding: 0;
    }

    .nav__link a {
        width: 100%;
        padding: 2rem 0;
        text-align: center;
        margin: 0;
        height: calc(100%/3);
    }

    .hide {
        display: none;
    }

    .nav__link a:hover {
        color: var(--dark);
        background-color: var(--highlight);
        border-radius: 8px;
        font-weight: 600;

    }

    .footer-center {
        display: none;
    }
}

@media (max-width: 1160px) {
    .hero {
        height: 100vh;
    }

    h1 {
        font-size: 4rem;
    }

    .contact,
    .prosandcons,
    .twocl {
        flex-direction: column;
        gap: 4rem;
    }


    .firstcolcontact,
    .secondcolcontact,
    .prosandcons,
    .prosandcons div,
    .twocl p {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .contacts {
        position: static;
    }

    .tips ol {
        position: relative;
        left: 20px;
    }

    .secondcolcontact {
        height: 30rem;
    }

    .tips div {
        width: 100%;
        flex-direction: column;
        gap: 1rem;
    }

    .tips ol {
        width: 100%;
    }

    .features {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 4rem 0.5rem;

    }

    .feature1,
    .feature2,
    .feature3 {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        min-width: 20rem;
        max-width: 30rem;
    }

    .listfirstcol {
        width: 45%;
    }

    .listwrapper {
        width: 55%;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    h2 {
        font-size: 3rem;
        max-width: 70%;
    }

    h3 {
        font-size: 2rem;
        ;
    }
}



@media (max-width: 1000px) {
    .hero {
        height: 90vh;
        background-position: center;
    }
}

@media (max-width: 720px) {

    html {
        font-size: 8px;
    }

    .logo {
        position: relative;
        bottom: 2px;
    }

    .hero {
        height: 70vh;
        background-position: center;
    }


    h2 {
        max-width: 100%;
    }

    .timeandarrows {
        flex-direction: column-reverse;
        gap: 3rem;
    }

    .arrows {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #hamburger-6.is-active .line:nth-child(1) {
        -webkit-transform: translateY(15px);
        -ms-transform: translateY(15px);
        -o-transform: translateY(15px);
        transform: translateY(15px);
    }
}

@media (max-width: 600px) {
    .tips div {
        position: relative;
        left: -10px;
    }

    h1 {
        font-size: 3.5rem;
    }

    .firstcolcontact {
        flex-direction: column;
        gap: 3rem;
    }

    .contacts {
        width: 100%;
    }

    .contacts svg,
    .timeandarrows svg,
    .list svg {
        width: 3rem;
        height: auto;
    }

    .features svg,
    .arrows svg {
        width: 6rem;
        height: auto;
    }

    .feature1 p,
    .feature2 p,
    .feature3 p {
        position: relative;
        left: 7.5rem;
        font-weight: 200;
        width: 80%;
    }

    #hamburger-6.is-active .line:nth-child(1) {
        -webkit-transform: translateY(15px);
        -ms-transform: translateY(15px);
        -o-transform: translateY(15px);
        transform: translateY(15px);
    }
}


@media (max-width: 340px) {

    .prosandcons div,
    .list {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 100%;
    }

    .prosandcons div ol,
    .listwrapper {
        width: 80%;
    }

    .buttonwrapper {
        justify-content: start;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
    }

    .en-ham {
        gap: 1.7rem;
        padding-left: 1.5rem;
    }

    #hamburger-6.is-active .line:nth-child(1) {
        -webkit-transform: translateY(11px);
        -ms-transform: translateY(11px);
        -o-transform: translateY(11px);
        transform: translateY(11px);
    }

    .prosandcons ol {
        position: relative;
        left: 12px;
    }
}